<div class="img-principal">
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis dolor vel magna varius maximus sed quis elit. Fusce at turpis nec ex sollicitudin bibendum imperdiet id ex. Nam vel sapien posuere, sodales ipsum id, tempus neque. Quisque sollicitudin mi mauris, at pretium sem egestas eu. Fusce hendrerit nisi nunc, eget feugiat libero consectetur quis. Phasellus sit amet lorem in magna lacinia mollis. Quisque fermentum facilisis ipsum non congue.</p>
    </div>
    <img src="assets/images/home/cavalo.jpg" alt="imagem-principal">
</div>
