<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
        <p>PLANEJE, ORGANIZE,</p>
        <p>CONQUISTE.</p>
    </div>
    <div class="footer-center">
      <p>© 2025 My Din – Todos os direitos reservados.</p>
    </div>
    <div class="footer-right">
      <div class="social-wrapper">
        <p>Acompanhe nas redes</p>
          <div class="social-icons">
            <a href="#"><div class="icon instagram-icon"></div></a>
            <a href="#"><div class="icon github-icon"></div></a>
            <a href="#"><div class="icon linkedin-icon"></div></a>
          </div>
      </div>
    </div>
  </div>
</footer>
