<div class="about-container">
  <img src="assets/images/quem-somos/quem-somos.png" alt="Quem somos" class="about-image" style="border: 1px solid black;" />
  <div class="about-text">
    <p>O My Din nasceu em 2025 com um propósito claro: ajudar pessoas a retomar o controle de sua vida financeira.
      Percebemos que, em meio a um cenário econômico desafiador, muitas famílias enfrentam dificuldades para lidar com
      suas finanças, muitas vezes por falta de orientação
      ou acesso a informações confiáveis.
    </p>
    <p>Nosso projeto surgiu como uma resposta a essa realidade.
      Acreditamos que a educação financeira é uma ferramenta poderosa de transformação social e pessoal.
      Por isso, desenvolvemos o My Din como uma plataforma acessível e prática, oferecendo conteúdos educativos, dicas
      simples e ferramentas que ajudam no planejamento, controle de gastos e tomada de decisões financeiras mais
      conscientes.
    </p>
    <p>Mais do que números, falamos com pessoas.
      Queremos estar presentes na jornada de quem busca uma vida mais equilibrada, ajudando a transformar hábitos e
      construir um futuro mais estável e tranquilo.
    </p>
  </div>
</div>