<div class="login-form-card">
    <h2>LOG IN</h2>
    <form id="login-form">
        <div class="input-group">
            <img src="assets/images/login/img_email.png">
            <input type="email" placeholder="Input your email" required>
        </div>
        <div class="input-group">
            <img src="assets/images/login/img_chave.png">
            <input type="password" placeholder="Input your password" required>
        </div>
        <a routerLink="/dashboard" routerLinkActivate="active-link">
        <button type="submit" class="login-btn">
            <img src="assets/images/login/img_seta.png"> LOG IN
        </button>
        </a>
    </form>
</div>