<div class="signup-form-card">
  <h2>SIGN UP</h2>
  <form (ngSubmit)="cadastrar()" #signupForm="ngForm">
    <div class="input-group">
      <img src="assets/images/signup/nome.png">
      <input type="text" placeholder="Input your name" [(ngModel)]="usuario.nome" name="nome" required>
    </div>
    <div class="input-group">
      <img src="assets/images/signup/email.png">
      <input type="email" placeholder="Input your email" [(ngModel)]="usuario.email" name="email" required>
    </div>
    <div class="input-group">
      <img src="assets/images/signup/chave.png">
      <input type="password" placeholder="Input your password" [(ngModel)]="usuario.senha" name="senha" required>
    </div>
    <button type="submit" class="finish-btn">
      FINISH
    </button>
  </form>
</div>
