<div class="signup-form-card">
  <h2>SIGN UP</h2>
  <form id="signup-form">
    <div class="input-group">
      <img src="assets/images/signup/nome.png">
      <input type="text" placeholder="Input your name" required>
    </div>
      <div class="input-group">
          <img src="assets/images/signup/email.png">
          <input type="email" placeholder="Input your email" required>
      </div>
      <div class="input-group">
          <img src="assets/images/signup/chave.png">
          <input type="password" placeholder="Input your password" required>
      </div>
      <a routerLink="/login" routerLinkActivate="active-link">
      <button type="submit" class="finish-btn">
          FINISH
      </button>
      </a>
  </form>
</div>