<aside class="sidebar">
  <div class="logo">
    <img routerLink="/home" routerLinkActive="active" src="assets/images/configuracoes/logo_lateral.png" alt="Logo" />
  </div>
  
  <a routerLink="/tipo-transacao" class="new-btn">+ NOVO</a>

  <nav class="nav-menu">
    <a routerLink="/dashboard" routerLinkActive="active"> 
      <img src="assets/images/navbar-lateral/dashboard.png" alt="Dashboard">  DASHBOARD</a>
    <a routerLink="/historico" routerLinkActive="active">
      <img src="assets/images/navbar-lateral/historico.png" alt="Histórico"> HISTÓRICO</a>
    <a routerLink="/configuracoes" routerLinkActive="active">
      <img src="assets/images/navbar-lateral/config.png" alt="Configurações"> CONFIGURAÇÕES</a>
  </nav>

  <button routerLink="/home" routerLinkActive="active" class="logout-btn">SAIR</button>
</aside>
