<div class="header">
    <app-navbar></app-navbar>
</div>

<div class="principal">
    <app-card-principal></app-card-principal>
</div>

<div id="quem-somos" class="quem-somos" style="scroll-margin-top: 400px;">
    <app-quem-somos></app-quem-somos>
</div>

<div id="recursos" class="recursos">
    <app-recursos></app-recursos>
</div>

<div id="feedbacks" class="feedbacks">
    <app-feedback-carousel></app-feedback-carousel>
</div>

<div id="contatos" class="footer">
    <app-footer></app-footer>
</div>