<!-- CARROSSEL FULL WIDTH -->
<div class="carousel-container">
  <div id="carouselExampleFade" class="carousel slide carousel-fade w-100 h-100" data-bs-ride="carousel">
    <div class="carousel-inner h-100">
      <div class="carousel-item active h-100">
        <img src="assets/images/quem-somos/avaliacao-arthur-1.png" class="d-block w-100 h-100" alt="Depoimento 1">
      </div>
      <div class="carousel-item h-100">
        <img src="assets/images/quem-somos/avaliacao-arthur-1.png" class="d-block w-100 h-100" alt="Depoimento 2">
      </div>
      <div class="carousel-item h-100">
        <img src="assets/images/quem-somos/avaliacao-davi.png" class="d-block w-100 h-100" alt="Depoimento 3">
      </div>
      <div class="carousel-item h-100">
        <img src="assets/images/quem-somos/avaliacao-jorge.png" class="d-block w-100 h-100" alt="Depoimento 4">
      </div>
      <div class="carousel-item h-100">
        <img src="assets/images/quem-somos/avaliacao-patryck.png" class="d-block w-100 h-100" alt="Depoimento 5">
      </div>
      <div class="carousel-item h-100">
        <img src="assets/images/quem-somos/avaliacao-pedro.png" class="d-block w-100 h-100" alt="Depoimento 6">
      </div>
      <div class="carousel-item h-100">
        <img src="assets/images/quem-somos/avaliacao-rafa.png" class="d-block w-100 h-100" alt="Depoimento 7">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>
</div>
