<div class="dashboard">
    <div class="lateral">
        <app-nav-bar-lateral></app-nav-bar-lateral>
    </div>
    <div class="conteudo-central">
    <app-date></app-date>

    <div class="grafico-container">
        <app-grafico></app-grafico>
    </div>

    <div class="listas-container">
        <div class="entrada">
        <h3>ENTRADA</h3>
        <app-lista-entrada></app-lista-entrada>
        </div>
        <div class="saida">
        <h3>SAÍDA</h3>
        <app-lista-saida></app-lista-saida>
        </div>
    </div>
    </div>
</div>